/* BEGIN SETUP (you will not need to use these) */
#intro {
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 50px;
}

.flags {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: medium;
  font-weight: 200;
}

/* END SETUP */

/* Classes that you might find useful */
/* You may also have to implement your own classes */

.flag {
  height: 300px;
  width: 500px;
  border-style: solid;
  margin-bottom: 5rem;
}

.twovert {
  height: 50%;
}

.threevert {
  height: 33.33%;
  /* background-color: blue; */
}

.threehoriz {
  width: 33.3%;
}

.narrow {
  height: 17.5%;
}

.wide {
  height: 30%;
}

.circle {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  position: relative;
  left: 85px;
  top: 50px;
}

/* Colors */

/* QUESTION 1 */

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.light-blue {
  background-color: #00a4e4;
}

.purple {
  background-color: purple;
}

.white {
  background-color: #fff;
}

#white {
  background-color: #fff;
}

.black {
  background-color: #000;
}

.red {
  background-color: red;
}

/* BEGIN QUESTION 2 */

.thailand-red {
  /* TODO */
  background-color: #b5002c;
  height: 17.5%;
}

.thailand-white {
  /* TODO */
  background-color: #f3f5f9;
  height: 17.5%
}

.thailand-blue {
  /* TODO */
  background-color: #2e2a4c;
  height: 30%
}

/* END QUESTION 2 */

/* BEGIN QUESTION 3 */

.romania-blue {
  background-color: #002c84;
  width: 33.33%;
}

.romania-yellow {
  background-color: #ffcf00;
  width: 33.33%;
}

.romania-red {
  background-color: #e10017;
  width: 33.33%;
}

/* END QUESTION 3 */

/* QUESTION 4 */
.mexico-green {
  background-color: #006341;
  width: 33.33%;
}

.mexico-img {
  /* TODO */
  width: 33.33%;
  background-color: white;
  background-image: url(eagle.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  top: 200px;
  /* left: ; */
}

.mexico-red {
  background-color: #ce1126;
  width: 33.33%;
}

/* END QUESTION 4 */
/* BEGIN QUESTION 5 */

.label {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  color: transparent;
  /* color: darkgoldenrod; */
}

.label:hover {
  font-weight: 900;
  font-size: large;
  animation: color-change 1s infinite;
  ;
}

@keyframes color-change {
  0% {
    color: yellow;
  }

  50% {
    color: orange;
  }

  100% {
    color: goldenrod;
  }
}

/* END QUESTION 5 */

/* QUESTION 6 */
.margin-container {
  height: 300px;
  width: 1030px;
  border-style: solid;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  /* padding: 60px; */
}

/* For margin practice */
.flag1 {
  background-color: red;
  margin-right: 10px;
  height: 300px;
  width: 500px;
  /* padding: 60px; */
}

.flag2 {
  background-color: blue;
  margin-left: 10px;
  height: 300px;
  width: 500px;
  /* TODO */
}

/* For padding practice */
.padding-container {
  box-sizing: border-box;
  background-color: lightblue;
  background-clip: content-box, padding-box;
  padding: 60px
    /* TODO */
}